.bg-lightPurple {
    background-color: #f1e0ff;
}

.bg-lightOrange {
    background-color: #ffe3d1;
}

.bg-lightRed {
    background-color: #ffabab;
}

.bg-lightGreen {
    background-color: #c8ffc2;
}

.bg-lightBlue {
    background-color: #bcedff;
}